<%= form_for(@work, :enctype => 'multipart/form-data') do |f| %>
  <%= render partial: 'works/inner_form', locals: { form: f, work: @work } %>
  <div class="actions">
    <%= f.submit 'Submit work' %>
  </div>
<% end %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload Instructions</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>The maximum file size for uploads is <strong>1 GB</strong>.</li>
      <li>Only <strong>PDF, WAV, AIF</strong> files are allowed.</li>
      <li>If your browser does not suck you can <strong>drag &amp; drop</strong> files from your desktop on this webpage.
      If it does, you won't be able to drag &amp; drop (there's a story to be learned here).</li>
    </ul>
  </div>
</div>
