<header class="entry-header">
  <h1 class="entry-title">Edit Work</h1>
</header>

<div class="entry-content">


<%= render 'form' %>

<%= link_to 'Show', author_work_path(@author, @work) %> |
<%= link_to 'Back', author_works_path(@author) %>
