<p id="notice"><%= notice %></p>

<div id="wrapper">
  <div class="container">

<h1>List of Works</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Instruments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'index_table', collection: @author.works %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_author_work_path(@author) %>
  </div>
</div>
