<h1 class="entry-title">List of Works</h1>

<div class="entry-content">

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Authors (with Roles)</th>
      <th><th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'work_item', collection: @works %>
  </tbody>
</table>

</div>

<br>&nbsp;<br>

<hr>

<center>
<%= link_to 'Add New Work', new_work_path(), class:"twobtn" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%# link_to 'Sign out', destroy_account_session_path, method: :delete, class:"twobtn" %>
<center>
