<p class="notice"><%= notice %></p>

<h1>List of Authors</h1>

<%= link_to 'New Author', new_work_author_path(@work) %>

<div class="entry-content">

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Birth year</th>
      <th>Roles</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'author_item', collection: @authors %>
  </tbody>
</table>

</div>
