<h1 class="entry-title">List of Authors</h1>



<div class="entry-content">

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Birth year</th>
      <th>Roles</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'author_item', collection: @authors %>
  </tbody>
</table>

</div>

<%= link_to 'New Author', new_work_author_path(@work), class:"btn" %>

<hr>

<center>
<%= link_to 'List of Works', works_path, class:"twobtn" %>
&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Sign out', destroy_account_session_path, class:"twobtn", method: :delete %>
<center>
