<div class="navigation-wrapper">
  <nav role="navigation" id="site-nav" class="animated drop">
    <ul>
      <li><a href="http://emufest.org/2016-emufest/" >EMUFest 2016</a></li>
      <li><a href="http://emufest.org/about/" >About</a></li>
      <li><a href="http://www.conservatoriosantacecilia.it" target="_blank">Conservatorio S. Cecilia</a></li>
      <li><a href="http://emufest.org/search/" >Search</a></li>
    </ul>
  </nav>
</div><!-- /.navigation-wrapper -->

<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

<header class="masthead">
  <div class="wrap">
    <a href="http://www.emufest.org/" class="site-logo" rel="home" title="EMUFest"><img src="http://www.emufest.org/images/E_site-logo_tondo.png" width="200" height="200" alt="EMUFest logo" class="animated fadeInDown"></a>
    <h1 class="site-title animated fadeIn"><a href="http://www.emufest.org/">EMUFest</a></h1>
    <h2 class="site-description animated fadeIn">International Electroacoustic Music Festival</h2>
  </div>
</header><!-- /.masthead -->
