<div class="role_selector">
  <p>
  select at least one role (you may select all that apply)
  </p>
	<%= form.collection_check_boxes(:roles, Role.ordered_all, :id, :description) do |b| %>
    <div class="role_check_box">
	    <%= b.check_box(class: 'the_box') %>
	    <%= b.label(class: 'the_label') %>
    </div>
	  <br />
	<% end %>
</div>
