// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ==========================================================================
   BODY
   ========================================================================== */

@import 'reset';

   $base-font: 'source-sans-pro', sans-serif;
   $code-font: 'source-code-pro', monospace;
   $alt-font: 'volkhov', serif;
   $primary-color: #333;



body {
  width: 100%;
  border-top: 5px solid black;
  background-image: url(http://emufest.github.io//images/bg/snow.png);
  background-repeat: repeat;

  font-family: 100% $base-font;
  color: $primary-color;
}
