<html>
  <body>
    <h1>EMUFest <%= Edition.current.year -%></h1>
    <br />

    <%= yield %>

  <p><font size="-1">
  Please note: this is a message sent from an automated mailer. Please do not reply to this message: your reply will not be read.
  If you need to contact us, please send a mail to <a href="mailto:info@emufest.org">info@emufest.org</a>.
  </font></p>
  </body>
</html>
